{% extends "index.html" %}
{% block suggestions%}
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename = './Styles/category.css') }}">

<!-- <button><a href="{{ url_for('landing') }}">Back</a></button> -->
<br />
<div class="headline">
  <a href="{{ url_for('landing') }}"><img class="back_arrow"
      src="{{ url_for('static', filename = 'media/back_arrow.png')}}" alt="Back-arrow" /></a>

  <div class="your_search">You Searched For : <span>{{searchquery}}</span></div>
</div>
<!-- <h3>Here are the results</h3> -->
<!-- <hr /> -->


<form action="/Products" method="POST" class="results">
  {% for category, subcategories in categories.items() %}
  
  <div class="product_category_block">
  
    <div class="category-heading">
      {{ category.title() }}
    </div>
  
    <div class="subcategories">

      {% for name, link in subcategories.items() %}


      <button type="submit" name="selected_product" value="{{ link }}">
        {{ name }}
      </button>

     
      {% endfor %}
    </div>
  </div>

  {% endfor %}

</form>

<div class=footer>
  <p>copyright team techy trek</p>
</div>
{% endblock body %}