<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PriceWise</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Signika+Negative:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = './Styles/global.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename = './Styles/landing.css')}}">


</head>

<body>
    <navbar>
        <div class="bname">
            <a href="{{ url_for('landing')}}">PriceWise</a>
        </div>
        <div class="logos">
            <img src="{{ url_for('static', filename = 'media/SIH_Horizontal-Logo-color.png')}}" alt="sih-logo">
            <img src="{{ url_for('static', filename = 'media/MoE-Logo-HD.png')}}" alt="sih-logo">
            <img src="{{ url_for('static', filename = 'media/AKAM-Hindi-transparent.png')}}" alt="sih-logo">
        </div>
        <div class="referral">
            <a href="https://gem.gov.in/">
                <img src="{{ url_for('static', filename = 'media/gem-new-logo-v6.svg')}}" alt="Go to Gem Portal">
            </a>
        </div>
    </navbar>
    
    
    
    <form action="/categories" method="POST" class = "searchbar">
        
            
                <!-- <div class="col-md-12"> -->
                    <input type="text" autocomplete="off" autofocus
                        placeholder="Enter Search Query Here" required name="searchquery" id="searchquery">
                    <input class=" search_btn" type="submit" value="Search">
                <!-- </div> -->
            
        
    </form>
    {% block suggestions %}


    <div class="quicksearch">
        <div class="head">
            Commonly Searched Items
        </div>
        <div class="searches">
            <a href="#">Electronics</a>
            <a href="#">Books</a>
            <a href="#">Clothing</a>
            <a href="#">Appliances</a>
            <a href="#">Beauty</a>
            <a href="#">Toys</a>
            <a href="#">Fitness</a>
            <a href="#">Health</a>
            <a href="#">Outdoors</a>
            <a href="#">Furniture</a>
           

        </div>
    </div>

    <div class="brands">
        <div class="heading">
            Your Go-To Platforms To Compare From
        </div>
        <div class="brand">
            <img id = "img1"src=" {{ url_for('static', filename = 'media/1.png' )}} " alt="">
            <img id = "img2" src=" {{ url_for('static', filename = 'media/1.png' )}} " alt="">
        </div>


    </div>
{% endblock %}

    
    {% block body %}{% endblock body %}
    <div>
        <div>
            <p>hello</p>
        </div>
        <div>

        </div>
    </div>

</body>

</html>