<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PriceWise</title>
</head>
<body>
    <h1>PriceWise</h1>

    <form action="/categories" method="POST">
        
        <input type="text" autocomplete="off" autofocus placeholder="Enter Search Query Here" required name = "searchquery" id = "searchquery">
        <input type="submit" value="Search">

    </form>

    {% block body %}{% endblock body %}
</body>
</html>