{% extends "index.html" %}
{% block suggestions%}
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename = './Styles/products.css') }}">
<div class="prod-parent">
    <form action="/comparison" method="POST" class = "products">
        {% for product in productlist %}
        <div class="product">
            <button type="submit" name="selected_button" value="{{product.product_link}}">

                <div class="product-image">
                    <img src="{{product.product_image_link}}" alt="" width="200px" height="200px">
                </div>
                <div class="product-details">
                    <p id = "title">{{product.product_title}}</p>
                    <p id = "brand">{{product.product_brand}}</p>
                    <p>Min Quantity: {{product.product_min_qty}}</p>
                    <p style = "text-decoration: line-through;">{{product.product_final_price}}</s></p>
                    
                    <p> {{product.product_list_price}}</p>
                </div>
            </button>

        </div>
        {% endfor %}
        <input type="hidden" name="page_title" value="{{ page_title }}">
        <input type="hidden" name="query" value="{{ searchquery }}">
    </form>

</div>

<form action="/Products_page=" method="POST">
    <input type="hidden" name="page link" value="{{page_link}}">
    <input type="hidden" name="total pages" value="{{total_pages}}">
    {% if current_page > 1 %}
    <button type="submit" name="button_name" value="{{ current_page - 1 }}"> Previous </button>
    {% endif %}
    {% if current_page < total_pages %} <button type="submit" name="button_name" value="{{ current_page + 1 }}"> Next
        </button>
        {% endif %}
        <input type="hidden" name="query" value={{ searchquery }}>
</form>



{% endblock body %}