.product {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    color: var(--secondary-color);
    box-sizing: border-box;
    flex-direction: row; /* Adjust to column to stack the details vertically */
    text-align: center; /* Center align text within each product card */
    /* width: 100%; */
    border-radius: 10px; 
    height: 30em;
}

#title{
    width: 20em;
}
#minqty{
    margin: 1em 0em;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    margin-top: 0.5em;
}

.comparison{
    display: flex;
    align-items:center;
    justify-content: baseline;
}
.others{
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
    gap: 1em;
    width: 40em;
}
.others button{
    width: 15em;
}
#title{
    width: 12em;
}

.others  .product{
    display: flex;
    margin-top: 0.1em;
    align-items: center;
    justify-content: center;
    /* padding: 0.1em 0.2em; */
    flex-direction: column;
    gap: 1em;
}
